<nav class="navbar navbar-dark blue-light">

  <ul class="nav">

    <a class="navbar-brand" href="/">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
      IronGames
    </a>
    <li class="nav-item">
      <a class="nav-link hover-blue-dark" href="/games/list">Games</a>
    </li>
    {{#equals currentUser.rol 'Admin'}}
    <li class="nav-item">
      <a class="nav-link hover-blue-dark" href="/admin/users">Users</a>
    </li>
    {{/equals}}
    <li>{{currentUser.id}}</li>
  </ul>

  <form method="POST" action="/users/5deb861c4ada6e1b5c0a2ac4/inbox">
    <button type="submit">Test messages</button>
  </form>
 

  <div class="user-tips">
    {{#if currentUser}}
    
    <a href="/user/{{currentUser.nickName}}"><img class="rounded-circle" width="35" height="35" src="{{currentUser.avatar}}" alt="avatar"></a>
    <form action="/user/logout" method="post">
      <button type="submit" class="btn btn-danger btn-sm ml-4">Logout</button>
    </form>
    {{/if}}
  </div>
</nav>