<div class="container-fluid user-resume">
    {{>aside}}
    <div class="user-body">
        {{#each user.chats as |chat|}}
        <a href="/games/{{chat.game}}/chat">
            <div class="container-chats">
                <p>{{chat.game}}</p>
                <p>{{chat.users.length}}</p>
            </div>
        </a>
        {{/each}}
    </div>
</div>