<div class="container-fluid user-resume">
    {{>aside}}
    <div class="user-body">
        {{#each user.chats as |chat|}}
            <p>{{chat.game}}</p>
            <p>{{chat.users.length}}</p>
        {{/each}}
    </div>
</div>