
<div class="aside">
    <div class="resume-user pt-3 pb-3">
        <div class="img-user">
            <img src="{{currentUser.avatar}}" alt="img">
        </div>
        <div class="user-detail mt-2">
            <h6>{{currentUser.name}} {{currentUser.lastName}}</h6>
            <p><span>@{{currentUser.nickName}}</span></p>
        </div>
    </div>
    <div class="chatrooms item-aside">
        <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
        <p>Chat Rooms</p>
    </div>
    <div class="messages item-aside">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        <p>Messages</p>
    </div>
</div>
<div class="user-body">
    {{>detailUser}}
</div>

