<div class="container-fluid user-resume">
    {{>aside}}
    <div class="user-body">
        hla entro en mensajes
        {{#each user.chats as |chat|}}
            <div class="container-messages">
                <p>{{chat.game}}</p>
                <p>{{chat.users.length}}</p>
            </div>
        </a>
        {{/each}}
    </div>
</div>