<form action="/list" method="post">
    <input type="text" name="searchData">
    <button type="submit">Search</button>
</form>

<div class="row row-cols-4">
    {{#each games as |game|}}
    <div class="col-3 mb-4">
        <div class="card">
            <div class="img-div-gamecard" style="background: url({{game.cover}})">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{game.name}}</h5>
                <div class="description-card-content">

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
                </div>
            <a href="/games/{{game.name}}/detail" type="button"  class="btn btn-primay">View Game</a>
        </div>
    </div>
    {{/each}}
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>